@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}

#container {}

header {}

#main {}

footer {}

/* cascading style sheet for Shop Green Wheels*/

/* ----------------------cascading style sheet for Shop Green Wheels---------------------- */

body{
	font-size: 12pt;
	background-image:url('../images/background-tan.jpg');
	background-repeat:repeat-x repeat-y;
	text-align: left;
}

a{
	text-decoration:none;
}

.temp{
  border:3 solid #fc00ff;
}

span.green {
	color:#00C200;
}

.price {
	font-size:1.3em;
}

.horizontal li{
	list-style:none;
	display:inline;
}

ul {
  margin: 0;
  padding: 0;
}
.text p{
	text-indent:35px;
/* ----------------------canvas---------------------- */


#canvas {
	background-image:url('background-tan.jpg');
	background-repeat:repeat-x repeat-y;
	width:1000px;
	margin: 0px auto;
}

/* ----------------------header---------------------- */

#header{
	width:auto;
	height:160px;
	background-image:url('background-tan.jpg');
	background-repeat:repeat-x repeat-y;
	position: relative;
	
	#title{
	  position: absolute;
	  top: 5px;
	  left: 5px;
	}

  #wheel{
    position: absolute;
	  top: 35px;
	  left: 135px;
  }
}

/* ----------------------title---------------------- */

img#wheel {
  margin: 15px 0 0 15px;
}


#title h1 {
  font-family: 'brush script std', 'Helvetica', Arial, sans-serif;
	position:absolute;
	top:34px;
	left:115px;
	z-index: 300;
	font-size: 3.75em;
}

#contact {
	position: absolute;
	top:35px;
	left:632px;
}
	

/* ----------------------navigation---------------------- */

#navigation {
	height:30px;
	border: none;
	background-image:url('background-tan.jpg');
	background-repeat:repeat-x repeat-y;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
#navigation ul{   /*list*/
	list-style: none; /*no bullets*/
	margin:0;
	padding:0;
}
#navigation li{
	float:left;
}
#navigation li a{
  display:block;
  width: 140px;
  padding-top: 5px;
  text-align: center;
  padding-top: 5px;
	margin: 0px 1px 0px;
	text-decoration:none;
	background:#00CC66;
	color:black;
	letter-spacing: .1em;
	padding-bottom: 4px;
	@include border-top-left-radius(5px);
	@include border-top-right-radius(5px);
}

#navigation li a#inventory{
  width: 100px;
}

#navigation li a#about{
  margin-right: 0;
  width: 98px;
}

#navigation li a#footprint{
  width: 145px;
}

#navigation li a#special{
  width: 112px;
}

#navigation li a#link{
	width:113px;
}
#navigation li:visited{
	text-decoration:none;
}
#navigation li a:hover{
	font-weight:bold;
	background:#28CB25;
}
#navigation li a:active{
	background:#28CB25;
	color:black;
}
#navigation li a.selected{
	border:solid;
	border-width:0px 0px 2px 0px;
	border-color:#28CB25;
	background:#28CB25;
	font-weight:bold;
	color: #fff;
}

/* ----------------------content---------------------- */

#content {
	min-height:600px;
	width:960px;
	clear:both;
	border-style:solid;
	border-width:10px;
	border-color:#28CB25;
	@include border-top-left-radius(25px);
	@include border-bottom-left-radius(25px);
	@include border-bottom-right-radius(25px);
	padding: 10px;
	background: #fff;
}

/* ----------------------footer---------------------- */


#footer {
	z-index:1000;
	height:75px;
	padding: 10px;
	background-image:url('background-tan.jpg');
	background-repeat:repeat-x repeat-y;
}

/* ----------------------inventory---------------------- */
#search {
	border:3 solid green;
	position:relative;
	top:15px;
	margin-left:25px;
	margin-bottom:20px;
}

ul#cars{
  margin: 0;
	padding-top: 15px;
	padding-left: 15px;
	
	li{
	  display: block;
  	border-bottom: 2px solid #EFEFEF;
  	padding-bottom: 45px;
  	margin-bottom: 20px;
  	clear: both;
  	@include pie-clearfix;
  	
  	p{
  	  float: left;
  	  
  	  &.item{
  	    padding-right: 10px;
  	    padding-left: 10px;
  	  }
  	  
  	  &.phone{
  	    float: right;
  	  }
  	  
  	}
  	
  	.price{
  	  float: right;
  	  font-size: 18px;
  	}
  	
  	div.photo{
  	  clear:both;
  	  background: #efefef;
  	  text-align: center;
  	  margin-bottom: 15px;
  	}
  	
  	.img{
  	  width: 200px;
  	  height: 150px;
  	  background: #efefef;
    	float: left;
    	margin-bottom: 10px;
    	margin-right: 20px;
    }
    
    h2{
      float: left;
      font-weight: 900;
      margin-bottom: 5px;	
    }
  }
}

ul#cars li p{
	font-size: 1em;
	margin-bottom: 5px;
}

li.picture {
	width:250px;
	height:250px;
	margin:20px 50px 5px 35px;
	padding:30px;
	border:1 solid green;
}
li.stats {
	width:115px;
	margin-top:20px;
}
#inventory li {
	border:solid black 1px;
}
/* ----------------------special---------------------- */


/* ----------------------single---------------------- */
#main_image {
	margin:0px auto;
	width:350px;
	height:350px;
	border: 2px solid green;
	padding: 4px;
	margin-bottom:35px;
}
ul.info {
	margin-right:200px;
	list-style:none;
}
.thumb {
	float:left;
	width:150px;
	height:150px;
	border: green 2px solid;
	padding: 3px;
	margin-left:50px;
	margin-right:50px;
}
#thumbs {
	margin-left:90px;
	height:150px;
	
	li{
	  display: block;
	}
}





/*-------| Justin CSS |-------*/

.simple_form{
  
  div.boolean{
    padding: 20px 0px;
    border-bottom: 2px solid #efefef;
    margin-bottom: 10px;
  }
  
  div.string, div.integer, div.textarea{
    margin-bottom: 10px;
    border-bottom: 2px solid #efefef;
    padding-bottom: 10px;
    input{
      padding: 5px;
    }
    
    label{
      display: block;
      padding: 5px;
    }
  }
}

#admin_info{
  position: absolute;
  top:8px;
  left: 120px;
}

#map{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
}

.list{
  
  li{
    display: block;
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #efefef;
    margin-bottom: 5px;
  }
  span.actions{
    @include inline-block;
    float: right;
    
    a{
      @include inline-block;
      background: #efefef;
      @include border-radius(15px);
      padding: 3px 8px;
      font-size: 12px;
    }
  }
  
}