#header
  #title
    #wheel
      %h1 Shop Green Wheels
  
  #navigation
    %ul
      %li#selected
        = link_to "About", about_path
      %li
        = link_to "Inventory", "#"
      %li
        = link_to "Your Footprint", footprint_path
